


ul{
  padding-left: 0;
}
li{
  list-style: none;
}


#top-wrapper{
  display: flex;
  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #CCFFCC;
  vertical-align: middle;
}

#top-wrapper{
  display: flex;
  justify-content: space-around;
  max-height: 300px;
}
#search-area{

  max-height: 300px;
  background-color: #FFFFCC;
}
.emp-list{
  height: 80%;
  overflow: auto;
}


#calendar-area{
  text-align: center;
  
}

/* 詳細画面関係 */
.schedule-desc {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 20px;
}
.schedule-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.schedule-info .schedule-datetime{
  font-size: 80%;
}

.schedule-form {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 20px;
}


.emp-list ul{
  height: 200px;
  overflow: scroll;
}